* {
    margin: 0px;
    padding: 0px;
}

div {
    //border: 1px solid red;
}

body {
    height: 100vh;
    font-family: sans-serif;
}

.page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
}

.menu {
    background-color: #88aadd;
    grid-area: 1 / 1 / 3;
}

.logo {
    margin: 40px 40px;
}

.menubox {
    margin: 40px 20px;
}

.menuitem {
    margin: 20px;
}

.botitem {
    margin: 20px;
}

.header {
    grid-area: 1 / 2 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.tophead {
    grid-area: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottomhead {
    display: grid;
    grid-template-columns: auto auto 1fr;
}

.content {
    grid-area: 2 / 2;
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 5fr 5fr 4fr;
    background-color: #dddddd;
}

.content .projects {
    grid-area: 1 / 1 / 7 / 3;
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.projects .title {
    grid-area: 1 / 1 / 2 / 3;
    margin: 20px 20px 0px;
}

.projects .project {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.project p {
    font-size: 0.9rem;
    color: #555555;
}

.content .announce {
    grid-area: 1 / 3 / 4;
}

.announce .title {
    margin: 20px;
}

.announce .box {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.message {
    margin: 10px;
}

.message p {
    font-size: 0.8rem;
    color: #555555;
}

.content .trending {
    grid-area: 4 / 3;
}

.trending .title {
    margin: 20px 20px 0px;
}

.trending .box {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.trending .trend {
    margin: 10px;
}